<div class="jumbotron" style="color:lightgray; background-image:url(../Assets/JapaneseForest.jpg)">
    <h1>Lindblom's Task Manager</h1>
    <p class="lead">Log in to manage your tasks</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Log in as Lorem, Wendy or Daniel to se sample generated tasks. You can also create a new User to log in and create your own tasks. Database is reset after each run</p>
       
    </div>
    <div class="col-md-4">
        <h2>This is a demo</h2>
        <p>This is a demo project were i test the possibilities of a MVC structure with a repository pattern design. Also the database is a service-based type with a reset and seed for each run.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact me</h2>
        <p>If you want to see more or know more about my products I suggest that you get in contact with me through LinkedIn. Button below takes you to my LinkedIn page. If you want to see my CV you can download it from my Dropbox through <a href="https://www.dropbox.com/sh/ykby3w6fejzewzh/AADZ2IMd4QKjr_BOUkt1kTaYa?dl=0" target="_blank">this link</a>.</p>
        <p><a class="btn btn-default" href="https://se.linkedin.com/in/sebastianlindblom" target="_blank">LinkedIn &raquo;</a></p>
    </div>
</div>
